<main [attr.data-bs-theme]="preferredTheme1()">
  <header
    class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom"
  >
    <a
      href="/"
      [ngClass]="
        preferredTheme1() === 'light' ? ' text-dark' : 'text-secondary'
      "
      class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none"
    >
      <span class="ms-2 me-2 fs-4">Signal Storage</span>
      <button type="button" class="btn btn-light" (click)="setLightTheme()">
        Set light theme
      </button>
    </a>

    <div class="form-check form-switch me-2">
      <input
        class="form-check-input"
        type="checkbox"
        role="switch"
        id="togglePreferredTheme"
        (change)="togglePreferredTheme($event)"
      />
      <label class="form-check-label" for="togglePreferredTheme"
        >Toggle Dark Theme</label
      >
    </div>
  </header>

  <div class="d-flex flex-column mb-3 ms-2">
    <section>
      We have two signal values, that are updated either from switch toogle dark
      theme or from set light theme button. Whenever some of the signal value
      changes we update storage with new value and local storage is updated
      hence both values are changed for signals
    </section>
    <div class="p-2">
      <code
        >Preferred Theme 1 signal value: {{ preferredTheme1() | json }}, updated
        from dropdown.</code
      >
    </div>
    <div class="p-2">
      <code
        >Preferred Theme 2 signal value: {{ preferredTheme2() | json }}, update
        from set ligh theme button</code
      >
    </div>
  </div>
</main>
